body {
  margin: 0;
  background-color: rgb(158, 243, 245);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
}
.cities {
  display: flex;
  margin-bottom: 2rem;
  /* margin: 3rem; */
}

.city {
  margin: 5px;
  padding: 7px;
  border: 1px solid blueviolet;
  background-color: rgb(114, 22, 200);
  border-radius: 7px;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.city:hover {
  background-color: whitesmoke;
  color: rgb(117, 16, 212);
}

.about {
  background-color: cornflowerblue;
  height: 150px;
  text-align: center;
  color: aliceblue;
  font-size: 1.3rem;
  width: 80%;
}

.active {
  color: rgb(164, 255, 104);
}
